
.dslc-modules-section-wrapper, .dslca-add-modules-section {
    width: 1200px;
}
.dslc-modules-section-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
#dslc-module-c4a352aa07b .dslc-image-container {
    text-align: center
}

#dslc-module-c4a352aa07b .dslc-image,
#dslc-module-c4a352aa07b .dslc-image a,
#dslc-module-c4a352aa07b .dslc-image img {
    width: auto
}

#dslc-module-c4a352aa07b .dslc-image-caption {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px
}

#dslc-module-01906a781bd .dslc-text-module-content {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-01906a781bd .dslc-text-module-content,
#dslc-module-01906a781bd .dslc-text-module-content .dslca-editable-content,
#dslc-module-01906a781bd .dslc-text-module-content p {
    color: #000;
    font-size: 1px;
    /* font-weight: 100; */
    
    /* line-height: 35px; */
    /* text-align: center; */
    line-height: 30px;
}

#dslc-module-01906a781bd .dslc-text-module-content p {
    padding-bottom: 20px;
    padding-left: 30px
}

#dslc-module-01906a781bd .dslc-text-module-content h1 {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 49px;
    text-align: center
}

#dslc-module-01906a781bd .dslc-text-module-content h2 {
    color: rgba(255, 255, 255, .81);
    
    text-align: center
}

#dslc-module-01906a781bd .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-01906a781bd .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-01906a781bd .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-01906a781bd .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-01906a781bd .dslc-text-module-content ul {
    list-style-type: disc;
    text-align: left
}

#dslc-module-01906a781bd .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-01906a781bd input[type=text],
#dslc-module-01906a781bd input[type=password],
#dslc-module-01906a781bd input[type=number],
#dslc-module-01906a781bd input[type=email],
#dslc-module-01906a781bd input[type=tel],
#dslc-module-01906a781bd textarea,
#dslc-module-01906a781bd select {
    color: #fff;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-01906a781bd input[type=text]::placeholder,
#dslc-module-01906a781bd input[type=password]::placeholder,
#dslc-module-01906a781bd input[type=number]::placeholder,
#dslc-module-01906a781bd input[type=email]::placeholder,
#dslc-module-01906a781bd input[type=tel]::placeholder,
#dslc-module-01906a781bd textarea::placeholder,
#dslc-module-01906a781bd select::placeholder {
    color: #fffff
}

#dslc-module-01906a781bd .dslc-text-module-content blockquote,
#dslc-module-01906a781bd .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-01906a781bd blockquote,
#dslc-module-01906a781bd .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-01906a781bd blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-01906a781bd input[type=submit],
#dslc-module-01906a781bd button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-01906a781bd input[type=submit]:hover,
#dslc-module-01906a781bd button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

#dslc-module-6515 .dslc-text-module-content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px
}

#dslc-module-6515 .dslc-text-module-content,
#dslc-module-6515 .dslc-text-module-content .dslca-editable-content,
#dslc-module-6515 .dslc-text-module-content p {
    font-size:15px;
    line-height: 30px;
    text-align: left;
}

#dslc-module-6515 .dslc-text-module-content p {
    margin-bottom: 25px;
    margin-top: 10px;
}

#dslc-module-6515 .dslc-text-module-content h1 {
    margin-bottom: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: left;
    color: #218ac9;
}

#dslc-module-6515 .dslc-text-module-content h2 {
    font-size: 30px;

    
    line-height: 42px;
    text-align: center
}

#dslc-module-6515 .dslc-text-module-content h3 {
    font-size: 20px;
    color: #338ac9;
    line-height: 24px;
    text-align: left
}

#dslc-module-6515 .dslc-text-module-content h4 {
    font-size: 13px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left
}

#dslc-module-6515 .dslc-text-module-content h5 {
    font-size: 13px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left
}

#dslc-module-6515 .dslc-text-module-content h6 {
    color: #afc9e1;
    font-size: 16px;
    font-weight: 600;
    
    
    line-height: 22px;
    margin-bottom: 30px;
    text-align: center
}

#dslc-module-6515 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-6515 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-6515 input[type=text],
#dslc-module-6515 input[type=password],
#dslc-module-6515 input[type=number],
#dslc-module-6515 input[type=email],
#dslc-module-6515 input[type=tel],
#dslc-module-6515 textarea,
#dslc-module-6515 select {
    color: #4d4d4d;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-6515 input[type=text]::placeholder,
#dslc-module-6515 input[type=password]::placeholder,
#dslc-module-6515 input[type=number]::placeholder,
#dslc-module-6515 input[type=email]::placeholder,
#dslc-module-6515 input[type=tel]::placeholder,
#dslc-module-6515 textarea::placeholder,
#dslc-module-6515 select::placeholder {
    color: #4d4d4d
}

#dslc-module-6515 .dslc-text-module-content blockquote,
#dslc-module-6515 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-6515 blockquote,
#dslc-module-6515 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-6515 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-6515 input[type=submit],
#dslc-module-6515 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-6515 input[type=submit]:hover,
#dslc-module-6515 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-6515 .dslc-text-module-content {
        padding-top: 30px;
        padding-bottom: 30px
    }
    #dslc-module-6515 .dslc-text-module-content,
    #dslc-module-6515 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-6515 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 22px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h1 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h2 {
        font-size: 21px;
        line-height: 34px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h3 {
        font-size: 20px;
        color: #338ac9;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-6515 .dslc-text-module-content ul,
    #dslc-module-6515 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-6515 .dslc-text-module-content blockquote,
    #dslc-module-6515 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-6515 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-5bf0a899d98 .dslc-text-module-content h1 strong {
        font-size: 30px;
        color: #ffffff!important;
        font-weight: 600;
        margin-top: 40px;
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content {
        margin-top: 150px;
        margin-bottom: 150px;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: left top;
        background-size: auto;
    }
    #dslc-module-6515 .dslc-text-module-content {
        padding-top: 28px;
        padding-bottom: 28px
    }

    #dslc-module-5430 .dslc-text-module-content {
      padding-left: 0px; 
      padding-right: 0px; 

    }
    #dslc-module-6515 .dslc-text-module-content,
    #dslc-module-6515 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-6515 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 30px;
    }
    #dslc-module-6515 .dslc-text-module-content h1 {
        font-size: 20px;
        margin-bottom: 0;
        text-align: left;
    }
    #dslc-module-6515 .dslc-text-module-content h2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 6px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h3 {
        font-size: 20px;
        color: #338ac9;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-6515 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-6515 .dslc-text-module-content ul,
    #dslc-module-6515 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-6515 .dslc-text-module-content blockquote,
    #dslc-module-6515 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-6515 blockquote {
        text-align: left
    }
}

#dslc-module-1fddfbf865f .dslc-separator {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-1fddfbf865f .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-586579220d2 .dslc-text-module-content {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-586579220d2 .dslc-text-module-content,
#dslc-module-586579220d2 .dslc-text-module-content .dslca-editable-content,
#dslc-module-586579220d2 .dslc-text-module-content p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}

#dslc-module-586579220d2 .dslc-text-module-content p {
    margin-bottom: 25px
}

#dslc-module-586579220d2 .dslc-text-module-content h1 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content h2 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content ul {
    list-style-type: disc;
    text-align: left
}

#dslc-module-586579220d2 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-586579220d2 input[type=text],
#dslc-module-586579220d2 input[type=password],
#dslc-module-586579220d2 input[type=number],
#dslc-module-586579220d2 input[type=email],
#dslc-module-586579220d2 input[type=tel],
#dslc-module-586579220d2 textarea,
#dslc-module-586579220d2 select {
    color: #fffff;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-586579220d2 input[type=text]::placeholder,
#dslc-module-586579220d2 input[type=password]::placeholder,
#dslc-module-586579220d2 input[type=number]::placeholder,
#dslc-module-586579220d2 input[type=email]::placeholder,
#dslc-module-586579220d2 input[type=tel]::placeholder,
#dslc-module-586579220d2 textarea::placeholder,
#dslc-module-586579220d2 select::placeholder {
    color: #fffff
}

#dslc-module-586579220d2 .dslc-text-module-content blockquote,
#dslc-module-586579220d2 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-586579220d2 blockquote,
#dslc-module-586579220d2 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-586579220d2 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-586579220d2 input[type=submit],
#dslc-module-586579220d2 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-586579220d2 input[type=submit]:hover,
#dslc-module-586579220d2 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

#dslc-module-7acd7697202 .dslc-html-module-content,
#dslc-module-7acd7697202 .dslc-html-module-content p {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content p {
    margin-bottom: 25px
}

#dslc-module-7acd7697202 .dslc-html-module-content h1 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content h2 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content h3 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content h4 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content h5 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content h6 {
    
    text-align: left
}

#dslc-module-7acd7697202 .dslc-html-module-content ul {
    list-style-type: disc
}

#dslc-module-7acd7697202 .dslc-html-module-content ol {
    list-style-type: decimal
}

#dslc-module-7acd7697202 input[type=text],
#dslc-module-7acd7697202 input[type=password],
#dslc-module-7acd7697202 input[type=number],
#dslc-module-7acd7697202 input[type=email],
#dslc-module-7acd7697202 input[type=tel],
#dslc-module-7acd7697202 textarea,
#dslc-module-7acd7697202 select {
    background-color: #fff;
    color: #4d4d4d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-7acd7697202 input[type=text]::placeholder,
#dslc-module-7acd7697202 input[type=password]::placeholder,
#dslc-module-7acd7697202 input[type=number]::placeholder,
#dslc-module-7acd7697202 input[type=email]::placeholder,
#dslc-module-7acd7697202 input[type=tel]::placeholder,
#dslc-module-7acd7697202 textarea::placeholder,
#dslc-module-7acd7697202 select::placeholder {
    color: #fffff
}

#dslc-module-7acd7697202 input[type=text]:focus::placeholder,
#dslc-module-7acd7697202 input[type=password]:focus::placeholder,
#dslc-module-7acd7697202 input[type=number]:focus::placeholder,
#dslc-module-7acd7697202 input[type=email]:focus::placeholder,
#dslc-module-7acd7697202 input[type=tel]:focus::placeholder,
#dslc-module-7acd7697202 textarea:focus::placeholder,
#dslc-module-7acd7697202 select:focus::placeholder {
    color: #fffff
}

#dslc-module-7acd7697202 input[type=text],
#dslc-module-7acd7697202 input[type=password],
#dslc-module-7acd7697202 input[type=number],
#dslc-module-7acd7697202 input[type=email],
#dslc-module-7acd7697202 input[type=tel],
#dslc-module-7acd7697202 select {
    width: 100%
}

#dslc-module-7acd7697202 textarea {
    width: 100%;
    height: 150px
}

#dslc-module-7acd7697202 .dslc-html-module-content blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-7acd7697202 .dslc-html-module-content blockquote,
#dslc-module-7acd7697202 .dslc-html-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-7acd7697202 blockquote,
#dslc-module-7acd7697202 .dslc-html-module-content blockquote p {
    text-align: left
}

#dslc-module-7acd7697202 input[type=submit],
#dslc-module-7acd7697202 input[type=button],
#dslc-module-7acd7697202 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-7acd7697202 input[type=submit]:hover,
#dslc-module-7acd7697202 input[type=button]:hover,
#dslc-module-7acd7697202 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

#dslc-module-12febc0c5f0 .dslc-separator {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-12febc0c5f0 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-5429 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-5429 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-5429 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-5429 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}


#dslc-module-5430 .dslc-text-module-content,
#dslc-module-5430 .dslc-text-module-content .dslca-editable-content,
#dslc-module-5430 .dslc-text-module-content p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    word-spacing: 2px;
}

#dslc-module-5430 .dslc-text-module-content h1 {
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left
}

#dslc-module-5430 .dslc-text-module-content h2 {
    color: #fff;
    font-size: 30px;
    line-height: 42px;
    text-align: center
}

#dslc-module-5430 .dslc-text-module-content h3 {
    font-size: 20px;
    line-height: 30px;
    color: white!important;
    text-align: center;
    margin-bottom: 24px;
}

#dslc-module-5430 .dslc-text-module-content h4 {
    font-size: 13px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left
}

#dslc-module-5430 .dslc-text-module-content h5 {
    font-size: 13px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 15px;
    text-align: left
}

#dslc-module-5430 .dslc-text-module-content h6 {
    color: rgba(7, 7, 7, .28);
    font-size: 17px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center
}

#dslc-module-5430 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-5430 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-5430 input[type=text],
#dslc-module-5430 input[type=password],
#dslc-module-5430 input[type=number],
#dslc-module-5430 input[type=email],
#dslc-module-5430 input[type=tel],
#dslc-module-5430 textarea,
#dslc-module-5430 select {
    color: #4d4d4d;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-5430 input[type=text]::placeholder,
#dslc-module-5430 input[type=password]::placeholder,
#dslc-module-5430 input[type=number]::placeholder,
#dslc-module-5430 input[type=email]::placeholder,
#dslc-module-5430 input[type=tel]::placeholder,
#dslc-module-5430 textarea::placeholder,
#dslc-module-5430 select::placeholder {
    color: #4d4d4d
}

#dslc-module-5430 .dslc-text-module-content blockquote,
#dslc-module-5430 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-5430 blockquote,
#dslc-module-5430 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-5430 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-5430 input[type=submit],
#dslc-module-5430 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-5430 input[type=submit]:hover,
#dslc-module-5430 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-5430 .dslc-text-module-content,
    #dslc-module-5430 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-5430 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 22px;
        text-align: center
    }
    #dslc-module-5430 .dslc-text-module-content h1 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h2 {
        font-size: 25px;
        line-height: 33px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h3 {
        font-size: 20px;
        color: #338ac9;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h6 {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 10px;
        text-align: center
    }
    #dslc-module-5430 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-5430 .dslc-text-module-content ul,
    #dslc-module-5430 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-5430 .dslc-text-module-content blockquote,
    #dslc-module-5430 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-5430 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-5430 .dslc-text-module-content,
    #dslc-module-5430 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-5430 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 22px;
        text-align: center
    }
    #dslc-module-5430 .dslc-text-module-content h1 {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h2 {
        font-size: 20px;
        line-height: 26px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h3 {
        font-size: 20px;
        color: #338ac9;
        margin-bottom: 15px;
        text-align: center
    }
    #dslc-module-5430 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5430 .dslc-text-module-content h6 {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 10px;
        text-align: center
    }
    #dslc-module-5430 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-5430 .dslc-text-module-content ul,
    #dslc-module-5430 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-5430 .dslc-text-module-content blockquote,
    #dslc-module-5430 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-5430 blockquote {
        text-align: left
    }
}

#dslc-module-5431 .dslc-separator {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-5431 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-5431 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-5431 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (min-width:767px) {
#dslc-module-5bf0a899d98 .dslc-text-module-content h1 strong {
    font-size: 42px;
    color: #ffffff!important;
    font-weight: 600;
    margin-top: 40px;
    
}
#dslc-module-5bf0a899d98 .dslc-text-module-content {
    margin-top: 200px;
    margin-bottom: 200px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: auto;
}
}


#dslc-module-3804f4e0d7b .dslc-text-module-content {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-3804f4e0d7b .dslc-text-module-content,
#dslc-module-3804f4e0d7b .dslc-text-module-content .dslca-editable-content, {
    
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content p {
    margin-bottom: 25px
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h1 {
    
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h2 {
    
    text-align: left
}
#dslc-module-6515 .dslc-text-module-content h3 strong {
    font-size: 20px;
    color: #338ac9;
    text-align: left;
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h3 ,#dslc-module-3804f4e0d7b .dslc-text-module-content p{
    
    text-align: center;
    margin-top: 10px;
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content ul {
    list-style-type: disc;
    text-align: left
}

#dslc-module-3804f4e0d7b .dslc-text-module-content ol {
    list-style-type: decimal
}


#dslc-module-3804f4e0d7b input[type=text]::placeholder,
#dslc-module-3804f4e0d7b input[type=password]::placeholder,
#dslc-module-3804f4e0d7b input[type=number]::placeholder,
#dslc-module-3804f4e0d7b input[type=email]::placeholder,
#dslc-module-3804f4e0d7b input[type=tel]::placeholder,
#dslc-module-3804f4e0d7b textarea::placeholder,
#dslc-module-3804f4e0d7b select::placeholder {
    color: #fff
}

#dslc-module-3804f4e0d7b .dslc-text-module-content blockquote,
#dslc-module-3804f4e0d7b .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-3804f4e0d7b blockquote,
#dslc-module-3804f4e0d7b .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-3804f4e0d7b blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-3804f4e0d7b input[type=submit],
#dslc-module-3804f4e0d7b button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-3804f4e0d7b input[type=submit]:hover,
#dslc-module-3804f4e0d7b button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

#dslc-module-e22d824008e input[type=text],
#dslc-module-e22d824008e input[type=email],
#dslc-module-e22d824008e textarea,
#dslc-module-e22d824008e input[type=password],
#dslc-module-e22d824008e input[type=number],
#dslc-module-e22d824008e input[type=tel] {
    background-color: rgba(0, 0, 0, 0);
    color: #acaeae
}

#dslc-module-e22d824008e input[type=text]:focus,
#dslc-module-e22d824008e input[type=email]:focus,
#dslc-module-e22d824008e textarea:focus,
#dslc-module-e22d824008e input[type=password]:focus,
#dslc-module-e22d824008e input[type=number]:focus,
#dslc-module-e22d824008e input[type=tel]:focus {
    color: #3c3c3c
}

#dslc-module-e22d824008e input[type=text],
#dslc-module-e22d824008e input[type=email],
#dslc-module-e22d824008e textarea,
#dslc-module-e22d824008e input[type=password],
#dslc-module-e22d824008e input[type=number],
#dslc-module-e22d824008e input[type=tel] {
    border-radius: 4px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 1px;
    border-style: solid
}

#dslc-module-e22d824008e input[type=text],
#dslc-module-e22d824008e input[type=email],
#dslc-module-e22d824008e input[type=password],
#dslc-module-e22d824008e input[type=number],
#dslc-module-e22d824008e input[type=tel] {
    line-height: 24px
}

#dslc-module-e22d824008e textarea {
    line-height: 24px
}

#dslc-module-e22d824008e .checkbox-wrap label,
#dslc-module-e22d824008e .list-checkbox-wrap li label,
#dslc-module-e22d824008e .list-radio-wrap li label,
#dslc-module-e22d824008e .optin_mailchimp-wrap input+span {
    font-size: 16px;
    font-weight: 300
}

#dslc-module-e22d824008e .checkbox-wrap label,
#dslc-module-e22d824008e .optin_mailchimp-wrap input+span,
#dslc-module-e22d824008e .field-wrap input[type=checkbox],
#dslc-module-e22d824008e .field-wrap input[type=radio] {
    margin-right: 6px
}

#dslc-module-e22d824008e select {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    border-color: #dcdddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-e22d824008e .html-container {
    color: #a5a5a5;
    font-size: 14px;
    line-height: 21px
}

#dslc-module-e22d824008e .hr-wrap hr {
    background-color: rgba(220, 221, 221, .48);
    margin-bottom: 1px;
    padding-bottom: 1px
}

#dslc-module-e22d824008e .hr-wrap {
    margin-top: 20px;
    margin-bottom: 15px
}

#dslc-module-e22d824008e input[type=submit],
#dslc-module-e22d824008e button,
#dslc-module-e22d824008e input[type=button] {
    background-color: #5aade1;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;

    line-height: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px
}

#dslc-module-e22d824008e input[type=submit]:hover,
#dslc-module-e22d824008e button:hover,
#dslc-module-e22d824008e input[type=button]:hover {
    background-color: #4d7dc0
}

#dslc-module-e22d824008e .submit-wrap {
    margin-top: 15px
}

#dslc-module-e22d824008e .field-wrap {
    padding-bottom: 20px;
    padding-right: 30px
}

#dslc-module-e22d824008e .field-wrap label {
    font-size: 16px;
    font-weight: 300
}

#dslc-module-e22d824008e .nf-field-description {
    color: #a5a5a5;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px
}

#dslc-module-e22d824008e .nf-error-required-error {
    background-color: #fc091b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px
}


#dslc-module-e22d824008e .nf-error-field-errors,
#dslc-module-e22d824008e .nf-error-field-errors * {
    color: #41484d
}

#dslc-module-e22d824008e .nf-response-msg,
#dslc-module-e22d824008e .nf-response-msg>* {
    background-color: #f5f8eb
}

#dslc-module-e22d824008e .nf-response-msg {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-color: #d9dfc3;
    border-width: 1px;
    border-style: none none solid
}

#dslc-module-e22d824008e .nf-response-msg,
#dslc-module-e22d824008e .nf-response-msg * {
    color: #91b128;
    font-size: 21px
}

#dslc-module-159c18d37e0 .dslc-separator {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-159c18d37e0 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}


#dslc-module-9cd1aad1761 .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-9cd1aad1761 .dslc-button a {
    background-color: white;
    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
    color: #2aa0ef;
    font-size: 17px;
    

    text-transform: none;
    border-color: #2d85c4;
    border-width: 1px;
    border-style: solid
}

#dslc-module-9cd1aad1761 .dslc-button a:hover {
    background-color: #818486;
    color: #fff;
    border-color: #818486;
}

#dslc-module-9cd1aad1761 .dslc-button a:before {
    opacity: 1
}

#dslc-module-9cd1aad1761 .dslc-button a svg {
    width: 11px;
    height: 11px
}

#dslc-module-9cd1aad1761 .dslc-button a .dslc-icon,
#dslc-module-9cd1aad1761 .dslc-button a svg {
    color: #fff;
    fill: #fff;
    margin-right: 10px
}

#dslc-module-9cd1aad1761 .dslc-button a:hover .dslc-icon,
#dslc-module-9cd1aad1761 .dslc-button:hover a svg {
    color: #fff;
    fill: #fff
}

.nf-input-limit {
    font-size: 12px;
    margin-top: 5px
}

.nf-static {
    padding: 0 10px
}

.nf-after-field .nf-error-msg {
    margin-right: 10px
}

.list-checkbox-wrap .nf-field-element li,
.list-checkbox-wrap .nf-field-element ul,
.list-radio-wrap .nf-field-element li,
.list-radio-wrap .nf-field-element ul {
    list-style: none!important;
    margin: 0!important;
    padding: 0!important
}

.list-checkbox-wrap .nf-field-element li input,
.list-checkbox-wrap .nf-field-element ul input,
.list-radio-wrap .nf-field-element li input,
.list-radio-wrap .nf-field-element ul input {
    margin-right: 5px
}

.list-checkbox-wrap .nf-field-element li,
.list-radio-wrap .nf-field-element li {
    padding-left: 10px;
    margin: 0 0 5px!important;
    text-indent: 0!important
}

.list-checkbox-wrap .nf-field-element li label,
.list-radio-wrap .nf-field-element li label {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.5em
}

.list-checkbox-wrap .nf-field-element li input,
.list-radio-wrap .nf-field-element li input {
    width: auto!important;
    float: left;
    margin-top: .25em
}

.product-wrap>div input {
    width: 80px!important
}

.product-wrap>div .nf-product-field span {
    padding: 0 5px
}

.starrating-wrap .star {
    border-bottom: 0
}


.list-select-wrap div div {
    display: none
}

.two-col-list ul li {
    float: left;
    width: 50%
}

.three-col-list ul li {
    float: left;
    width: 33.33%
}

.four-col-list ul li {
    float: left;
    width: 25%
}

.five-col-list ul li {
    float: left;
    width: 20%
}

.six-col-list ul li {
    float: left;
    width: 16.66%
}

body .pika-label {
    background: 0 0
}

@keyframes nf-scaleout {
    0% {
        transform: scale(0)
    }
    to {
        transform: scale(1);
        opacity: 0
    }
}

.field-wrap {
    display: -ms-flexbox;
    display: flex
}

.field-wrap>label {
    display: block
}

.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select,
.field-wrap textarea {
    width: 100%
}

.field-wrap>div input[type=checkbox],
.field-wrap button,
.field-wrap input[type=button],
.field-wrap input[type=submit] {
    width: auto
}

/*----------------------------------------------------
/ 4. About Agency
------------------------------------------------------*/
.ab_agency{
    padding-bottom: 10px;
}
.PR_79{
    padding-right: 79px;
}
.MB_45{
    margin-bottom: 45px;
}
.ab_img1{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.ab_img1 img{
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -2px 4px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    -2px 4px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         -2px 4px 30px 0px rgba(0, 0, 0, 0.3);
}
.ab_img2{
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 2;
}
.ab_img2:after{
    position: absolute;
    top: -65px;
    left: 40px;
    content: '';
    border: 10px solid #1874c0;
    width: 470px;
    height: 366px;
}
.ab_img2 img{
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -2px 4px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    -2px 4px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         -2px 4px 35px 0px rgba(0, 0, 0, 0.3);
}

/* My SEction */

.PR_79 .sec_title{
    line-height: 30px;
    margin-bottom: 15px;
    text-align: left;
    color: #218ac9;
}

.PR_79 p{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
}
