.dslc-icon-border {
    border: solid 1px #eee;
    padding: .2em .25em .15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}


#dslc-content blockquote p:last-child {
    margin-bottom: 0 !important
}

.dslc-modules-section {
    border: 0px solid transparent;
    position: relative
}

.dslc-modules-section.dslc-init-parallax {
    background-attachment: fixed
}

.dslc-modules-section-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto
}

.dslc-modules-section.dslc-full .dslc-modules-section-wrapper {
    width: 100%
}

.dslc-modules-section-wrapper, .dslca-add-modules-section {
    width: 1200px;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.dslc-modules-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0;
    border-style: solid
}
#dslc-module-1140 .dslc-separator {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-1140 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-1140 .dslc-separator {
        margin-bottom: 25px;
        padding-bottom: 25px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-1140 .dslc-separator {
        margin-bottom: 25px;
        padding-bottom: 25px
    }
}

#dslc-module-1135 .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 100px;
    padding-right: 100px
}

#dslc-module-1135 .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-1135 .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1135 .dslc-info-box-image-inner .dslc-icon,
#dslc-module-1135 .dslc-info-box-image-inner svg {
    color: rgba(127, 140, 152, .16);
    fill: rgba(127, 140, 152, .16);
    font-size: 100px;
    width: 100px;
    height: 100px
}

#dslc-module-1135 .dslc-info-box-image-inner {
    width: 110px;
    height: 110px;
    background-color: transparent;
    border-radius: 100px
}

#dslc-module-1135 .dslc-info-box-image {
    text-align: inherit;
    margin-top: 10px;
    margin-bottom: 25px
}

#dslc-module-1135 .dslc-info-box-image,
#dslc-module-1135 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 35px
}

#dslc-module-1135 .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-1135 .dslc-info-box-image-alt-inner img {
    border-radius: 0;
    margin-bottom: 25px
}

#dslc-module-1135 .dslc-info-box-image-alt-inner {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1135 .dslc-info-box-title {
    text-align: inherit;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0
}

#dslc-module-1135 .dslc-info-box-title h4 {
    color: #56aee3;
    font-size: 82px;

    letter-spacing: 0px;
    line-height: 84px
}

#dslc-module-1135 .dslc-info-box-content {
    text-align: inherit;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 28px;
    margin-left: 0
}

#dslc-module-1135 .dslc-info-box-content,
#dslc-module-1135 .dslc-info-box-content p {
    font-size: 21px;

    line-height: 36px
}

#dslc-module-1135 .dslc-info-box-content p {
    margin-bottom: 0
}

#dslc-module-1135 .dslc-info-box-button a {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    
    letter-spacing: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px
}

#dslc-module-1135 .dslc-info-box-button a:hover {
    background-color: #3e73c2;
    color: #fff;
    border-color: inherit
}

#dslc-module-1135 .dslc-info-box-button {
    margin-top: 0;
    margin-right: 0
}

#dslc-module-1135 .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-1135 .dslc-info-box-button a.dslc-primary svg {
    color: #b0c8eb;
    fill: #b0c8eb;
    margin-right: 5px
}

#dslc-module-1135 .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-left: 5px;
    margin-top: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-1135 .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-1135 .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-1135 .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-1135 .dslc-info-box {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1135 .dslc-info-box-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1135 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-1135 .dslc-info-box-image {
        margin-top: -4px
    }
    #dslc-module-1135 .dslc-info-box-image,
    #dslc-module-1135 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 20px
    }
    #dslc-module-1135 .dslc-info-box-image-inner {
        width: 110px;
        height: 110px
    }
    #dslc-module-1135 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-1135 .dslc-info-box-image-inner svg {
        font-size: 80px;
        height: 80px;
        width: 80px
    }
    #dslc-module-1135 .dslc-info-box-title h4 {
        font-size: 72px;
        line-height: 75px
    }
    #dslc-module-1135 .dslc-info-box-title {
        margin-bottom: 4px
    }
    #dslc-module-1135 .dslc-info-box-content,
    #dslc-module-1135 .dslc-info-box-content p {
        font-size: 14px;
        line-height: 23px
    }
    #dslc-module-1135 .dslc-info-box-content {
        margin-bottom: 0
    }
    #dslc-module-1135 .dslc-info-box-button a {
        font-size: 11px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 16px;
        padding-right: 16px
    }
    #dslc-module-1135 .dslc-info-box-button {
        margin-top: 0;
        margin-right: 0
    }
    #dslc-module-1135 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-1135 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 5px
    }
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary {
        margin-left: 0;
        margin-top: 0
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-1135 .dslc-info-box {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1135 .dslc-info-box-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1135 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-1135 .dslc-info-box-image {
        margin-top: 0
    }
    #dslc-module-1135 .dslc-info-box-image,
    #dslc-module-1135 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 20px
    }
    #dslc-module-1135 .dslc-info-box-image-inner {
        width: 60px;
        height: 60px
    }
    #dslc-module-1135 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-1135 .dslc-info-box-image-inner svg {
        font-size: 55px;
        height: 55px;
        width: 55px
    }
    #dslc-module-1135 .dslc-info-box-title h4 {
        font-size: 40px;
        line-height: 42px
    }
    #dslc-module-1135 .dslc-info-box-title {
        margin-bottom: 0
    }
    #dslc-module-1135 .dslc-info-box-content,
    #dslc-module-1135 .dslc-info-box-content p {
        font-size: 18px;
        line-height: 25px
    }
    #dslc-module-1135 .dslc-info-box-content {
        margin-bottom: 0
    }
    #dslc-module-1135 .dslc-info-box-button a {
        font-size: 11px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 16px;
        padding-right: 16px
    }
    #dslc-module-1135 .dslc-info-box-button {
        margin-top: 0;
        margin-right: 0
    }
    #dslc-module-1135 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-1135 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 5px
    }
    #dslc-module-1135 .dslc-info-box-button a.dslc-secondary {
        margin-left: 0;
        margin-top: 0
    }
}

#dslc-module-8169 .dslc-separator {
    margin-bottom: 44px;
    padding-bottom: 44px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-8169 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-8169 .dslc-separator {
        margin-bottom: 20px;
        padding-bottom: 20px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-8169 .dslc-separator {
        margin-bottom: 20px;
        padding-bottom: 20px
    }
}

#dslc-module-8201 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-8201 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-8201 .dslc-separator {
        margin-bottom: 20px;
        padding-bottom: 20px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-8201 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

#dslc-module-1161 .dslc-html-module-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 15px
}

#dslc-module-1161 .dslc-html-module-content,
#dslc-module-1161 .dslc-html-module-content p {
    font-size: 17px;

    
    line-height: 27px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content p {
    margin-bottom: 25px
}

#dslc-module-1161 .dslc-html-module-content h1 {
    font-size: 66px;

    
    line-height: 70px;
    margin-bottom: 30px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content h2 {
    font-size: 50px;

    
    line-height: 55px;
    margin-bottom: 24px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content h3 {
    font-size: 42px;

    
    line-height: 48px;
    margin-bottom: 25px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content h4 {
    font-size: 30px;

    
    line-height: 38px;
    margin-bottom: 20px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content h5 {
    font-size: 24px;

    
    line-height: 33px;
    margin-bottom: 20px;
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content h6 {
    
    text-align: left
}

#dslc-module-1161 .dslc-html-module-content ul {
    list-style-type: disc
}

#dslc-module-1161 .dslc-html-module-content ol {
    list-style-type: decimal
}

#dslc-module-1161 .dslc-html-module-content li {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1161 input[type=text],
#dslc-module-1161 input[type=password],
#dslc-module-1161 input[type=number],
#dslc-module-1161 input[type=email],
#dslc-module-1161 input[type=tel],
#dslc-module-1161 textarea,
#dslc-module-1161 select {
    background-color: #fff;
    border-radius: 0;
    color: #4d4d4d;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-1161 input[type=text],
#dslc-module-1161 input[type=password],
#dslc-module-1161 input[type=number],
#dslc-module-1161 input[type=email],
#dslc-module-1161 input[type=tel],
#dslc-module-1161 select {
    width: 100%
}

#dslc-module-1161 .dslc-html-module-content blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1161 .dslc-html-module-content blockquote,
#dslc-module-1161 .dslc-html-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-1161 blockquote,
#dslc-module-1161 .dslc-html-module-content blockquote p {
    text-align: left
}

#dslc-module-1161 input[type=submit],
#dslc-module-1161 input[type=button],
#dslc-module-1161 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-1161 input[type=submit]:hover,
#dslc-module-1161 input[type=button]:hover,
#dslc-module-1161 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-1161 .dslc-html-module-content {
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px
    }
    #dslc-module-1161 .dslc-html-module-content,
    #dslc-module-1161 .dslc-html-module-content p {
        font-size: 16px;
        line-height: 26px
    }
    #dslc-module-1161 .dslc-html-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h2 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 0
    }
    #dslc-module-1161 .dslc-html-module-content h3 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px
    }
    #dslc-module-1161 .dslc-html-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-1161 .dslc-html-module-content {
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1161 .dslc-html-module-content,
    #dslc-module-1161 .dslc-html-module-content p {
        font-size: 14px;
        line-height: 21px
    }
    #dslc-module-1161 .dslc-html-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h2 {
        font-size: 34px;
        line-height: 32px;
        margin-bottom: 10px
    }
    #dslc-module-1161 .dslc-html-module-content h3 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px
    }
    #dslc-module-1161 .dslc-html-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
    #dslc-module-1161 .dslc-html-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px
    }
}

#dslc-module-1162 .dslc-text-module-content {
    min-height: 0px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content,
#dslc-module-1162 .dslc-text-module-content .dslca-editable-content,
#dslc-module-1162 .dslc-text-module-content p {
    color: #9a9a9a;
    font-size: 17px;

    
    letter-spacing: 0px;
    line-height: 27px;
    text-align: left
}

#dslc-module-1162 .dslc-text-module-content p {
    margin-bottom: 0
}

#dslc-module-1162 .dslc-text-module-content h1 {
    font-size: 66px;

    
    letter-spacing: 0px;
    line-height: 70px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content h2 {
    font-size: 50px;

    
    letter-spacing: 0px;
    line-height: 55px;
    margin-bottom: 24px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content h3 {
    font-size: 42px;

    
    letter-spacing: 0px;
    line-height: 48px;
    margin-bottom: 25px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content h4 {
    font-size: 30px;

    
    letter-spacing: 0px;
    line-height: 38px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content h5 {
    font-size: 24px;

    
    letter-spacing: 0px;
    line-height: 33px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content h6 {
    
    letter-spacing: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-1162 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-1162 .dslc-text-module-content li {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1162 input[type=text],
#dslc-module-1162 input[type=password],
#dslc-module-1162 input[type=number],
#dslc-module-1162 input[type=email],
#dslc-module-1162 input[type=tel],
#dslc-module-1162 textarea,
#dslc-module-1162 select {
    color: #4d4d4d;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 0;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-1162 input[type=text]::placeholder,
#dslc-module-1162 input[type=password]::placeholder,
#dslc-module-1162 input[type=number]::placeholder,
#dslc-module-1162 input[type=email]::placeholder,
#dslc-module-1162 input[type=tel]::placeholder,
#dslc-module-1162 textarea::placeholder,
#dslc-module-1162 select::placeholder {
    color: #4d4d4d
}

#dslc-module-1162 .dslc-text-module-content blockquote,
#dslc-module-1162 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-1162 blockquote {
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

#dslc-module-1162 blockquote,
#dslc-module-1162 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-1162 input[type=submit],
#dslc-module-1162 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-1162 input[type=submit]:hover,
#dslc-module-1162 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-1162 .dslc-text-module-content {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px
    }
    #dslc-module-1162 .dslc-text-module-content,
    #dslc-module-1162 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-1162 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 26px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h2 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 0;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h3 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1162 .dslc-text-module-content ul,
    #dslc-module-1162 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-1162 .dslc-text-module-content blockquote,
    #dslc-module-1162 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-1162 blockquote {
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-1162 .dslc-text-module-content {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1162 .dslc-text-module-content,
    #dslc-module-1162 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-1162 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 24px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h2 {
        font-size: 34px;
        line-height: 32px;
        margin-bottom: 10px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h3 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-1162 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1162 .dslc-text-module-content ul,
    #dslc-module-1162 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-1162 .dslc-text-module-content blockquote,
    #dslc-module-1162 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-1162 blockquote {
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: left
    }
}

#dslc-module-1163 .dslc-widgets-wrap {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    margin-bottom: 0;
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 65px;
    padding-right: 65px
}

#dslc-module-1163 .dslc-widget-wrap {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 35px;
    padding-right: 35px
}

#dslc-module-1163 .dslc-widget {
    margin-bottom: 30px;
    color: #555659;
    font-size: 17px;

    line-height: 24px;
    text-align: left
}

#dslc-module-1163 .dslc-widget-title {
    color: #86898c;
    font-size: 20px;

    letter-spacing: 0px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: none;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 0
}

#dslc-module-1163 .dslc-widget-title-inner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

#dslc-module-1163 .dslc-widget a {
    font-weight: 400
}

#dslc-module-1163 .dslc-widget ul {
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style-type: circle
}

#dslc-module-1163 .dslc-widget li {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0
}

#dslc-module-1163 .dslc-widget ul li {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-1163 .dslc-widgets-wrap {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px
    }
    #dslc-module-1163 .dslc-widget-wrap {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1163 .dslc-widget-title {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
        padding-bottom: 10px
    }
    #dslc-module-1163 .dslc-widget {
        font-size: 13px;
        line-height: 22px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-1163 .dslc-widgets-wrap {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1163 .dslc-widget-wrap {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }
    #dslc-module-1163 .dslc-widget-title {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
        padding-bottom: 10px
    }
    #dslc-module-1163 .dslc-widget {
        font-size: 13px;
        line-height: 22px
    }
}

#dslc-module-8196 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-8196 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-8196 .dslc-separator {
        margin-bottom: 1px;
        padding-bottom: 1px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-8196 .dslc-separator {
        margin-bottom: 8px;
        padding-bottom: 8px
    }
}

