/* @import url('/font-awesome-4.6.3/css/font-awesome.min.css'); */
.dslc-icon-border {
    border: solid 1px #eee;
    padding: .2em .25em .15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.pull-right {
    float: right
}

.pull-left {
    float: left
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-image img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: none;
    border-radius: none;
    position: relative;
}
#dslc-content blockquote p:last-child {
    margin-bottom: 0 !important
}

.dslc-modules-section-wrapper,
.dslca-add-modules-section {
    width: 1200px
}

.dslc-modules-section:not(.dslc-full) {
    padding-left: 4%;
    padding-right: 4%
}

.dslc-modules-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0;
    border-style: solid
}
.dslc-Modal{
    background-color: #56aee3;
    border-radius: 4px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 17px;
    

}
.dslc-Modal:hover{
background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2;
}

#dslc-module-2074 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2074 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (max-width:767px) {
    #dslc-module-2074 .dslc-separator {
        margin-bottom: 20px;
        padding-bottom: 20px
    }
}


#dslc-module-2078 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2078 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (max-width:767px) {
    #dslc-module-2078 .dslc-separator {
        margin-bottom: 1px;
        padding-bottom: 1px
    }
}

#dslc-module-2079 .dslc-image-container {
    text-align: center
}

#dslc-module-2079 .dslc-image {
    padding-left: 20px;
    padding-right: 20px
}

#dslc-module-2079 .dslc-image,
#dslc-module-2079 .dslc-image a,
#dslc-module-2079 .dslc-image img {
    width: auto
}

#dslc-module-2079 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2079 .dslc-image-container {
        text-align: center
    }
    #dslc-module-2079 .dslc-image {
        padding-top: 10px;
        padding-bottom: 10px
    }
    #dslc-module-2079 .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2079 .dslc-image-container {
        text-align: center
    }
    #dslc-module-2079 .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}

#dslc-module-2080 .dslc-separator {
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2080 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2080 .dslc-separator {
        margin-bottom: 25px;
        padding-bottom: 25px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2080 .dslc-separator {
        margin-bottom: 1px;
        padding-bottom: 1px
    }
}

#dslc-module-2081 .dslc-text-module-content {
    margin-bottom: 30px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-2081 .dslc-text-module-content,
#dslc-module-2081 .dslc-text-module-content .dslca-editable-content,
#dslc-module-2081 .dslc-text-module-content p {
    font-size: 15px;
    line-height: 30px;
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content h1 {
    
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content h2 {

    font-size: 25px;
    line-height: 44px;
    margin-bottom: 27px;
    text-align: left;
    color: #398fcb;
    
    
}

#dslc-module-2081 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-2081 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-2081 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-2081 input[type=text],
#dslc-module-2081 input[type=password],
#dslc-module-2081 input[type=number],
#dslc-module-2081 input[type=email],
#dslc-module-2081 input[type=tel],
#dslc-module-2081 textarea,
#dslc-module-2081 select {
    color: #4d4d4d;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-2081 input[type=text]::placeholder,
#dslc-module-2081 input[type=password]::placeholder,
#dslc-module-2081 input[type=number]::placeholder,
#dslc-module-2081 input[type=email]::placeholder,
#dslc-module-2081 input[type=tel]::placeholder,
#dslc-module-2081 textarea::placeholder,
#dslc-module-2081 select::placeholder {
    color: #4d4d4d
}

#dslc-module-2081 .dslc-text-module-content blockquote,
#dslc-module-2081 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-2081 blockquote,
#dslc-module-2081 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-2081 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2081 input[type=submit],
#dslc-module-2081 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-2081 input[type=submit]:hover,
#dslc-module-2081 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2081 .dslc-text-module-content {
        margin-bottom: 20px
    }

    #dslc-module-2081 .dslc-text-module-content,
    #dslc-module-2081 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-2081 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 24px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h1 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h3 {
        color: #338ac9;
        font-size: 20px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h4 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h5 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h6 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-2081 .dslc-text-module-content ul,
    #dslc-module-2081 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-2081 .dslc-text-module-content blockquote,
    #dslc-module-2081 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-2081 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2081 .dslc-text-module-content {
        margin-bottom: 20px
    }
    #dslc-module-2081 .dslc-text-module-content,
    #dslc-module-2081 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-2081 .dslc-text-module-content p {
        font-size: 17px;
        line-height: 28px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h1 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h3 {
        color: #338ac9;
        font-size: 20px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h4 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h5 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content h6 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2081 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-2081 .dslc-text-module-content ul,
    #dslc-module-2081 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-2081 .dslc-text-module-content blockquote,
    #dslc-module-2081 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-2081 blockquote {
        text-align: left
    }
}

#dslc-module-2082 .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2082 .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-2082 .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2082 .dslc-info-box-image-inner .dslc-icon,
#dslc-module-2082 .dslc-info-box-image-inner svg {
    color: #3e3f40!important;
    fill: #4d4e4e;
    font-size: 35px!important;
    width: 30px;
    height: 30px
}

#dslc-module-2082 .dslc-info-box-image-inner {
    width: 40px;
    height: 40px;
    background-color: transparent
}

#dslc-module-2082 .dslc-info-box-image {
    text-align: inherit;
    margin-top: -3px
}

#dslc-module-2082 .dslc-info-box-image,
#dslc-module-2082 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 25px
}

#dslc-module-2082 .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-2082 .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-2082 .dslc-info-box-title {
    text-align: inherit
}

#dslc-module-2082 .dslc-info-box-title h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: #348bc7;
}

#dslc-module-2082 .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-2082 .dslc-info-box-content,
#dslc-module-2082 .dslc-info-box-content p {
    font-size: 14px;
    line-height: 22px
}

#dslc-module-2082 .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-2082 .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-2082 .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-2082 .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-2082 .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-2082 .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-2082 .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-2082 .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-2082 .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2082 .dslc-info-box {
        padding-top: 10px;
        padding-bottom: 10px
    }
    #dslc-module-2082 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-2082 .dslc-info-box-image {
        margin-top: -1px
    }
    #dslc-module-2082 .dslc-info-box-image,
    #dslc-module-2082 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 14px
    }
    #dslc-module-2082 .dslc-info-box-image-inner {
        width: 27px;
        height: 27px
    }
    #dslc-module-2082 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-2082 .dslc-info-box-image-inner svg {
        font-size: 24px;
        height: 24px;
        width: 24px
    }
    #dslc-module-2082 .dslc-info-box-title h4 {
        font-size: 16px;
        line-height: 24px
    }
    #dslc-module-2082 .dslc-info-box-content {
        margin-bottom: 20px
    }
    #dslc-module-2082 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-2082 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-2082 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-2082 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2082 .dslc-info-box {
        padding-top: 0px;
        padding-bottom: 0px
    }
    #dslc-module-2082 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-2082 .dslc-info-box-image {
        margin-top: 6px
    }
    #dslc-module-2082 .dslc-info-box-image,
    #dslc-module-2082 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 20px;
        margin-bottom: 5px;
    }
    #dslc-module-2082 .dslc-info-box-image-inner {
        width: 36px;
        height: 36px
    }
    #dslc-module-2082 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-2082 .dslc-info-box-image-inner svg {
        font-size: 30px;
        height: 30px;
        width: 30px
    }
    #dslc-module-2082 .dslc-info-box-title h4 {
        font-size: 17px;
        line-height: 24px;
        color: #000000cc;
        font-weight: 400;
    }
    #dslc-module-2082 .dslc-info-box-content,
    #dslc-module-2082 .dslc-info-box-content p {
        font-size: 14px;
        line-height: 23px
    }
    #dslc-module-2082 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-2082 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-2082 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-2082 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}



#dslc-module-2085 .dslc-separator {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2085 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2085 .dslc-separator {
        margin-bottom: 11px;
        padding-bottom: 11px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2085 .dslc-separator {
        margin-bottom: 16px;
        padding-bottom: 16px
    }
}

#dslc-module-2094 .dslc-button {
    text-align: left;
    margin-bottom: 50px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2094 .dslc-button a {
    background-color: #37414ba8;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    

    border-color: #e2dfdf;
    border-width: 1px;
    border-style: solid
}

#dslc-module-2094 .dslc-button a:hover {
    background-image: linear-gradient( to right,rgb(7, 110, 169) ,rgb(44, 181, 238) 88%)!important;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-2094 .dslc-button a .dslc-icon,
#dslc-module-2094 .dslc-button a svg {
    margin-right: 10px
}

@media only screen and (max-width:767px) {
    #dslc-module-2094 .dslc-button {
        margin-bottom: 30px;
        text-align: center
    }
}

#dslc-module-2101 .dslc-text-module-content {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-2101 .dslc-text-module-content,
#dslc-module-2101 .dslc-text-module-content .dslca-editable-content,
#dslc-module-2101 .dslc-text-module-content p {
    font-size: 21px;
    
    line-height: 28px;
    text-align: center
}

#dslc-module-2101 .dslc-text-module-content h1 {
    
    
    text-align: left
}

#dslc-module-2101 .dslc-text-module-content h2 {
    font-size: 38px;

    
    line-height: 44px;
    margin-bottom: 10px;
    text-align: center
}

#dslc-module-2101 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-2101 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-2101 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-2101 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-2101 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-2101 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-2101 input[type=text],
#dslc-module-2101 input[type=password],
#dslc-module-2101 input[type=number],
#dslc-module-2101 input[type=email],
#dslc-module-2101 input[type=tel],
#dslc-module-2101 textarea,
#dslc-module-2101 select {
    color: #4d4d4d;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-2101 input[type=text]::placeholder,
#dslc-module-2101 input[type=password]::placeholder,
#dslc-module-2101 input[type=number]::placeholder,
#dslc-module-2101 input[type=email]::placeholder,
#dslc-module-2101 input[type=tel]::placeholder,
#dslc-module-2101 textarea::placeholder,
#dslc-module-2101 select::placeholder {
    color: #4d4d4d
}

#dslc-module-2101 .dslc-text-module-content blockquote,
#dslc-module-2101 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-2101 blockquote,
#dslc-module-2101 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-2101 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2101 input[type=submit],
#dslc-module-2101 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-2101 input[type=submit]:hover,
#dslc-module-2101 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2101 .dslc-text-module-content,
    #dslc-module-2101 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-2101 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 24px;
        text-align: center
    }
    #dslc-module-2101 .dslc-text-module-content h1 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
        text-align: center
    }
    #dslc-module-2101 .dslc-text-module-content h3 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h4 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h5 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h6 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-2101 .dslc-text-module-content ul,
    #dslc-module-2101 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-2101 .dslc-text-module-content blockquote,
    #dslc-module-2101 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-2101 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2101 .dslc-text-module-content,
    #dslc-module-2101 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-2101 .dslc-text-module-content p {
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h1 {
        font-size: 22px;
        margin-bottom: 0;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h2 {
        font-size: 37px;
        line-height: 38px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h3 {
        color: #338ac9;
        font-size: 20px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h4 {
        font-size: 24px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h5 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content h6 {
        font-size: 13px;
      line-height: 25px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-2101 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-2101 .dslc-text-module-content ul,
    #dslc-module-2101 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-2101 .dslc-text-module-content blockquote,
    #dslc-module-2101 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-2101 blockquote {
        text-align: left
    }
}

#dslc-module-2133 .dslc-image-container {
    text-align: center;
    background-color: #215a94
}

#dslc-module-2133 .dslc-image {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px
}

#dslc-module-2133 .dslc-image,
#dslc-module-2133 .dslc-image a,
#dslc-module-2133 .dslc-image img {
    width: auto
}

#dslc-module-2133 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-2137 .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2137 .dslc-button a {
    background-color: #204e80;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

/* #dslc-module-2137 .dslc-button a:hover {
    background-color: #1c436f;
    color: #fff;
    border-color: #4b7bc2
} */

#dslc-module-2137 .dslc-button a .dslc-icon,
#dslc-module-2137 .dslc-button a svg {
    margin-right: 10px
}

#dslc-module-2135 .dslc-image-container {
    text-align: center;
    background-color: #56aee3
}

#dslc-module-2135 .dslc-image {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px
}

#dslc-module-2135 .dslc-image,
#dslc-module-2135 .dslc-image a,
#dslc-module-2135 .dslc-image img {
    width: auto
}

#dslc-module-2135 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-2139 .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2139 .dslc-button a {
    background-color: #44a2db;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

/* #dslc-module-2139 .dslc-button a:hover {
    background-color: #2a87bf;
    color: #fff;
    border-color: #4b7bc2
} */

#dslc-module-2139 .dslc-button a .dslc-icon,
#dslc-module-2139 .dslc-button a svg {
    margin-right: 10px
}

#dslc-module-2134 .dslc-image-container {
    text-align: center;
    background-color: #37414b
}

#dslc-module-2134 .dslc-image {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px
}

#dslc-module-2134 .dslc-image,
#dslc-module-2134 .dslc-image a,
#dslc-module-2134 .dslc-image img {
    width: auto
}

#dslc-module-2134 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-2140 .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2140 .dslc-button a {
    background-color: #282d33;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

/* #dslc-module-2140 .dslc-button a:hover {
    background-color: #212226;
    color: #fff;
    border-color: #4b7bc2
} */

#dslc-module-2140 .dslc-button a .dslc-icon,
#dslc-module-2140 .dslc-button a svg {
    margin-right: 10px
}

#dslc-module-2136 .dslc-image-container {
    text-align: center;
    background-color: #878b8c
}

#dslc-module-2136 .dslc-image {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px
}

#dslc-module-2136 .dslc-image,
#dslc-module-2136 .dslc-image a,
#dslc-module-2136 .dslc-image img {
    width: auto
}

#dslc-module-2136 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-2141 .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2141 .dslc-button a {
    background-color: #565656;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    color: #fff;
    font-size: 19px;
      font-weight: 400;
}

/* #dslc-module-2141 .dslc-button a:hover {
    background-color: #383838;
    color: #fff;
    border-color: #4b7bc2
} */

#dslc-module-2141 .dslc-button a .dslc-icon,
#dslc-module-2141 .dslc-button a svg {
    margin-right: 10px
}

#dslc-module-2172 .dslc-separator {
    margin-bottom: 28px;
    padding-bottom: 28px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2172 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2172 .dslc-separator {
        margin-bottom: 25px;
        padding-bottom: 25px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2172 .dslc-separator {
        margin-bottom: 9px;
        padding-bottom: 9px
    }
}

#dslc-module-2142 .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    margin-bottom: 15px
}

#dslc-module-2142 .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-2142 .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-2142 .dslc-info-box-image-inner .dslc-icon,
#dslc-module-2142 .dslc-info-box-image-inner svg {
    color: #fff;
    fill: #fff;
    font-size: 32px;
    width: 55px;
    height: 55px;
}

#dslc-module-2142 .dslc-info-box-image-inner {
    width: 70px;
    height: 70px;
    text-align: center;
    border: 0px solid#eaeaea;
    border-radius: 100px;
    border-color: #1c9bd6;
}
#dslc-module-2142 .dslc-info-box-image-inner:hover {
    border:0px solid #a7a7a8; 
    /* box-shadow: 2px 2px 2px #a7a7a8; */
    color: white;
}

#dslc-module-2142 .dslc-info-box-image {
    text-align: inherit;
    margin-bottom: 25px
}

#dslc-module-2142 .dslc-info-box-image,
#dslc-module-2142 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 25px
}

#dslc-module-2142 .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-2142 .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-2142 .dslc-info-box-title {
    text-align: inherit;
    margin-bottom: 20px
}

#dslc-module-2142 .dslc-info-box-title h4 {
    font-size: 24px;
    font-weight: 330;
    line-height: 27px
}

#dslc-module-2142 .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-2142 .dslc-info-box-content,
#dslc-module-2142 .dslc-info-box-content p {
    font-size: 14px;
    line-height: 22px
}

#dslc-module-2142 .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-2142 .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-2142 .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-2142 .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-2142 .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-2142 .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-2142 .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-2142 .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-2142 .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2142 .dslc-info-box {
        margin-bottom: 50px
    }
    #dslc-module-2142 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-2142 .dslc-info-box-image,
    #dslc-module-2142 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 16px
    }
    #dslc-module-2142 .dslc-info-box-image-inner {
        width: 50px;
        height: 50px
    }
    #dslc-module-2142 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-2142 .dslc-info-box-image-inner svg {
        font-size: 22px;
        height: 22px;
        width: 22px
    }
    #dslc-module-2142 .dslc-info-box-title h4 {
        font-size: 19px;
        line-height: 24px
    }
    #dslc-module-2142 .dslc-info-box-title {
        margin-bottom: 15px
    }
    #dslc-module-2142 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-2142 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-2142 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-2142 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2142 .dslc-info-box {
        margin-bottom: 20px
    }
    #dslc-module-2142 .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-2142 .dslc-info-box-image {
        margin-top: -2px
    }
    #dslc-module-2142 .dslc-info-box-image,
    #dslc-module-2142 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 20px
    }
    #dslc-module-2142 .dslc-info-box-image-inner {
        width: 60px;
        height: 60px
    }
    #dslc-module-2142 .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-2142 .dslc-info-box-image-inner svg {
        font-size: 24px;
        height: 36px;
        width: 36px;
    }
    #dslc-module-2142 .dslc-info-box-title h4 {
        font-size: 23px;
        line-height: 27px
    }
    #dslc-module-2142 .dslc-info-box-title {
        margin-bottom: 16px
    }
    #dslc-module-2142 .dslc-info-box-content,
    #dslc-module-2142 .dslc-info-box-content p {
        font-size: 14px;
        line-height: 23px
    }
    #dslc-module-2142 .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-2142 .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-2142 .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-2142 .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}

#dslc-module-2195 .dslc-separator {
    margin-bottom: 28px;
    padding-bottom: 28px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-2195 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
@media  screen and (min-width:767px) {
.h3, h3 {
    color: #338ac9;
font-size: 20px;
}

}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-2195 .dslc-separator {
        margin-bottom: 25px;
        padding-bottom: 25px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-2195 .dslc-separator {
        margin-bottom: 9px;
        padding-bottom: 9px
    }
}

#dslc-module-5od1vbj5n2 .dslc-button {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 50px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-5od1vbj5n2 .dslc-button a {
    background-color: transparent;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    

    text-transform: none;
    border-color: #e2dfdf;
    border-width: 1px;
    border-style: solid
}

#dslc-module-5od1vbj5n2 .dslc-button a:hover {
    background-color: #fff;
    color: #000;
    border-color: #4b7bc2
}

#dslc-module-5od1vbj5n2 .dslc-button a:before {
    opacity: 1
}

#dslc-module-5od1vbj5n2 .dslc-button a svg {
    width: 11px;
    height: 11px
}

#dslc-module-5od1vbj5n2 .dslc-button a .dslc-icon,
#dslc-module-5od1vbj5n2 .dslc-button a svg {
    color: #fff;
    fill: #fff;
    margin-right: 10px
}

#dslc-module-5od1vbj5n2 .dslc-button a:hover .dslc-icon,
#dslc-module-5od1vbj5n2 .dslc-button:hover a svg {
    color: #000;
    fill: #000
}

#dslc-module-1c6ec5067a2 .dslc-separator {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-1c6ec5067a2 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}


#dslc-module-00d3ea7e087 .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    padding-left: 42px;
    padding-right: 42px
}

#dslc-module-00d3ea7e087 .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-00d3ea7e087 .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-00d3ea7e087 .dslc-info-box-image-inner .dslc-icon,
#dslc-module-00d3ea7e087 .dslc-info-box-image-inner svg {
    color: #727272;
    fill: #727272;
    font-size: 30px;
    width: 30px;
    height: 20px
}

#dslc-module-00d3ea7e087 .dslc-info-box-image-inner {
    width: 29px;
    height: 29px;
    background-color: transparent
}

#dslc-module-00d3ea7e087 .dslc-info-box-image {
    text-align: left
}

#dslc-module-00d3ea7e087 .dslc-info-box-image,
#dslc-module-00d3ea7e087 .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 10px
}

#dslc-module-00d3ea7e087 .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-00d3ea7e087 .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-00d3ea7e087 .dslc-info-box-title {
    text-align: inherit
}

#dslc-module-00d3ea7e087 .dslc-info-box-title h4 {
    font-size: 20px;

    text-transform: none;
    line-height: 30px
}

#dslc-module-00d3ea7e087 .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-00d3ea7e087 .dslc-info-box-content,
#dslc-module-00d3ea7e087 .dslc-info-box-content p {
    font-size: 14px;
    line-height: 22px
}

#dslc-module-00d3ea7e087 .dslc-info-box-content li {
    font-size: 13px;
    font-weight: 400;
    
    line-height: 22px;
    margin-bottom: 10px
}

#dslc-module-00d3ea7e087 .dslc-info-box-content ul,
#dslc-module-00d3ea7e087 .dslc-info-box-content ol {
    margin-bottom: 25px;
    margin-left: 25px
}

#dslc-module-00d3ea7e087 .dslc-info-box-content ul {
    list-style-type: disc
}

#dslc-module-00d3ea7e087 .dslc-info-box-content ol {
    list-style-type: decimal
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a:before {
    opacity: 1
}

#dslc-module-00d3ea7e087 .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-primary svg {
    width: 11px;
    height: 11px
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary:before {
    opacity: 1
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary svg {
    width: 11px;
    height: 11px
}

#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-00d3ea7e087 .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}

.nf-response-msg {
    display: none
}

.nf-field-label label {
    font-weight: 700;
    margin: 0;
    padding: 0
}

.nf-field-element {
    position: relative
}

.nf-field-element input,
.nf-field-element select,
.nf-field-element textarea {
    margin: 0;
    width: auto;
    height: auto;
    vertical-align: inherit
}

.nf-field-element textarea {
    height: 200px
}

.nf-field-description p:last-child {
    margin: 0
}

.nf-input-limit {
    font-size: 12px;
    margin-top: 5px
}

.nf-static {
    padding: 0 10px
}

.nf-after-field .nf-error-msg {
    margin-right: 10px
}

.list-checkbox-wrap .nf-field-element li,
.list-checkbox-wrap .nf-field-element ul,
.list-radio-wrap .nf-field-element li,
.list-radio-wrap .nf-field-element ul {
    list-style: none!important;
    margin: 0!important;
    padding: 0!important
}

.list-checkbox-wrap .nf-field-element li input,
.list-checkbox-wrap .nf-field-element ul input,
.list-radio-wrap .nf-field-element li input,
.list-radio-wrap .nf-field-element ul input {
    margin-right: 5px
}

.list-checkbox-wrap .nf-field-element li,
.list-radio-wrap .nf-field-element li {
    padding-left: 10px;
    margin: 0 0 5px!important;
    text-indent: 0!important
}

.list-checkbox-wrap .nf-field-element li label,
.list-radio-wrap .nf-field-element li label {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.5em
}

.list-checkbox-wrap .nf-field-element li input,
.list-radio-wrap .nf-field-element li input {
    width: auto!important;
    float: left;
    margin-top: .25em
}

.product-wrap>div input {
    width: 80px!important
}

.product-wrap>div .nf-product-field span {
    padding: 0 5px
}

.starrating-wrap .star {
    border-bottom: 0
}


.list-select-wrap div div {
    display: none
}

.two-col-list ul li {
    float: left;
    width: 50%
}

.three-col-list ul li {
    float: left;
    width: 33.33%
}

.four-col-list ul li {
    float: left;
    width: 25%
}

.five-col-list ul li {
    float: left;
    width: 20%
}

.six-col-list ul li {
    float: left;
    width: 16.66%
}

body .pika-label {
    background: 0 0
}


@keyframes nf-scaleout {
    0% {
        transform: scale(0)
    }
    to {
        transform: scale(1);
        opacity: 0
    }
}

.field-wrap {
    display: -ms-flexbox;
    display: flex
}

.field-wrap>label {
    display: block
}

.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select,
.field-wrap textarea {
    width: 100%
}

.field-wrap>div input[type=checkbox],
.field-wrap button,
.field-wrap input[type=button],
.field-wrap input[type=submit] {
    width: auto
}

.nf-field-label {
    -ms-flex-order: 5;
    order: 5
}

.nf-field-description {
    width: 100%;
    -ms-flex-order: 10;
    order: 10
}

.nf-field-element {
    -ms-flex-order: 15;
    order: 15
}

.label-above .nf-field-label {
    margin-bottom: 10px
}

.label-below .nf-field-label {
    margin-top: 10px;
    -ms-flex-order: 15;
    order: 15
}

.label-below .nf-field-element {
    -ms-flex-order: 5;
    order: 5
}

.label-hidden .field-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.label-hidden .nf-field-label {
    height: 0;
    margin: 0!important;
    width: 100%;
    visibility: hidden
}

.label-hidden .nf-field-description {
    width: 100%;
    -ms-flex-order: 20;
    order: 20
}

.label-hidden .nf-field-element {
    width: 100%
}

.label-left .field-wrap {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.label-left .nf-field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 2%;
    text-align: right;
    width: 35%;
    -ms-flex-order: 5;
    order: 5
}

.label-left .nf-field-label label {
    width: 100%
}

.label-left .nf-field-description {
    margin-left: 35%
}

.label-left .nf-field-element {
    display: inline-block;
    width: 65%;
    -ms-flex-order: 10;
    order: 10
}

.label-left .nf-after-field {
    margin-left: 36.5%
}

.label-right .field-wrap,
.label-right .nf-field-label {
    -ms-flex-direction: row;
    flex-direction: row
}

.label-right .nf-field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2%;
    width: 35%;
    -ms-flex-order: 10;
    order: 10
}

.label-right .nf-field-description {
    margin-right: 35%;
    -ms-flex-order: 15;
    order: 15
}

.label-right .nf-field-element {
    display: inline-block;
    width: 65%;
    -ms-flex-order: 5;
    order: 5
}

.label-right .checkbox-wrap .nf-field-label {
    width: auto
}

.label-right .checkbox-wrap .nf-field-element {
    width: 20px
}

.label-right .nf-after-field {
    width: 65%
}

.label-above .field-wrap,
.label-below .field-wrap {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: wrap;
    flex-flow: wrap
}

.label-above .nf-field-element,
.label-below .nf-field-element {
    margin: 0;
    width: 100%
}

.label-left .listcheckbox-wrap .nf-field-label,
.label-left .listradio-wrap .nf-field-label,
.label-left .textarea-wrap .nf-field-label,
.label-right .listcheckbox-wrap .nf-field-label,
.label-right .listradio-wrap .nf-field-label,
.label-right .textarea-wrap .nf-field-label {
    -ms-flex-align: start;
    align-items: flex-start
}

.label-left .textarea-wrap .nf-field-label,
.label-right .textarea-wrap .nf-field-label {
    margin-top: 5px
}

.label-left .hr-wrap,
.label-left .html-wrap,
.label-right .hr-wrap,
.label-right .html-wrap {
    display: block
}

.label-left .hr-wrap .nf-field-element,
.label-left .html-wrap .nf-field-element,
.label-right .hr-wrap .nf-field-element,
.label-right .html-wrap .nf-field-element {
    display: block;
    margin: 0;
    width: 100%
}

.dslc-info-box-main p{
    margin-top: 15px;
    line-height: 25px;
    word-spacing: 1px;
    font-size: 15px;

}

#dslc-content .dslc-info-box-image-inner .dslc-icon {
    color: #fff;
    line-height: 1;
    font-size: 25px;
}

