.dslc-icon-border {
    border: solid 1px #eee;
    padding: .2em .25em .15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

#dslc-content blockquote p:last-child {
    margin-bottom: 0 !important
}
.dslc-modules-section-wrapper,
.dslca-add-modules-section {
    width: 1200px
}

.dslc-modules-section:not(.dslc-full) {
    padding-left: 4%;
    padding-right: 4%
}

.dslc-modules-section {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0;
    border-style: solid
}
.srm-modules-section{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 4%!important;
    padding-right: 4%!important;
    padding: 40px;
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0;
    border-style: solid
}


#dslc-module-8f1089f2e3a .dslc-image-container {
    text-align: center
}

#dslc-module-8f1089f2e3a .dslc-image {
    margin-top: 28px
}

#dslc-module-8f1089f2e3a .dslc-image,
#dslc-module-8f1089f2e3a .dslc-image a,
#dslc-module-8f1089f2e3a .dslc-image img {
    width: auto
}

#dslc-module-8f1089f2e3a .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-8f1089f2e3a .dslc-image-container {
        text-align: center
    }
    #dslc-module-8f1089f2e3a .dslc-image {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 8px;
        padding-right: 8px
    }
    #dslc-module-8f1089f2e3a .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}

@media only screen and (max-width:767px) {
    .srm-modules-section .dslc-text-module-content h1{
        font-size: 22px;
        line-height: 30px;
    }

    .srm-modules-section .dslc-text-module-content p strong{
     font-weight: 500;
     font-size: 15px;
    }
    #dslc-module-8f1089f2e3a .dslc-image-container {
        text-align: center
    }
    #dslc-module-8f1089f2e3a .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}

#dslc-module-bb3a11b4c7e .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-bb3a11b4c7e .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-bb3a11b4c7e .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-bb3a11b4c7e .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

#dslc-module-4f208ebe742 .dslc-text-module-content {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-4f208ebe742 .dslc-text-module-content,
#dslc-module-4f208ebe742 .dslc-text-module-content .dslca-editable-content,
#dslc-module-4f208ebe742 .dslc-text-module-content p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


#dslc-module-4f208ebe742 .dslc-text-module-content p strong{
    font-size: 15px;
font-weight: 500;
}

#dslc-module-4f208ebe742 .dslc-text-module-content h1,#dslc-module-023ff5bedb4 .dslc-text-module-content h1 ,
#dslc-module-023ff5bedb5 .dslc-text-module-content h1,
#dslc-module-023ff5bedb6 .dslc-text-module-content h1
#dslc-module-product .dslc-text-module-content h1 {
    text-align: left;
    color: #5890e5!important;
    margin-bottom: 20px;
    font-size: 30px;
}

#dslc-module-4f208ebe742 .dslc-text-module-content h2 strong{
    text-align: left;
    font-size: 28px;
    color: #218ac9;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
}

#dslc-module-4f208ebe742 .dslc-text-module-content h3 {

    
    text-align: left
}

#dslc-module-4f208ebe742 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-4f208ebe742 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-4f208ebe742 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-4f208ebe742 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-4f208ebe742 .dslc-text-module-content ol {
    list-style-type: decimal
}


#dslc-module-4f208ebe742 .dslc-text-module-content blockquote,
#dslc-module-4f208ebe742 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

#dslc-module-4f208ebe742 blockquote,
#dslc-module-4f208ebe742 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-4f208ebe742 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-4f208ebe742 input[type=submit],
#dslc-module-4f208ebe742 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-4f208ebe742 input[type=submit]:hover,
#dslc-module-4f208ebe742 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-4f208ebe742 .dslc-text-module-content,
    #dslc-module-4f208ebe742 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-4f208ebe742 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 30px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h1 {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h2 {
        font-size: 25px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content ul,
    #dslc-module-4f208ebe742 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content blockquote,
    #dslc-module-4f208ebe742 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-4f208ebe742 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {

    
#dslc-module-4f208ebe742 .dslc-text-module-content p strong{
    font-size: 15px;
font-weight: 500;
}

    #dslc-module-4f208ebe742 .dslc-text-module-content,
    #dslc-module-4f208ebe742 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-4f208ebe742 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 30px;
        text-align: left
    }

    #dslc-module-4f208ebe742 .dslc-text-module-content h1,#dslc-module-023ff5bedb4 .dslc-text-module-content h1,
    #dslc-module-product .dslc-text-module-content h1{
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 10px;
        text-align: left;
        color: #5890e5!important;
        font-weight: 600;
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h2 strong {
        text-align: left;
        font-size: 21px;
    }
  
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 18px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h4 {
        font-size: 17px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content ul,
    #dslc-module-4f208ebe742 .dslc-text-module-content ol {
        margin-left: 25px
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content li {
        margin-bottom: 10px
    }
    #dslc-module-4f208ebe742 .dslc-text-module-content blockquote,
    #dslc-module-4f208ebe742 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-4f208ebe742 blockquote {
        text-align: left
    }
}

#dslc-module-okh75tu1gd .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-okh75tu1gd .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-okh75tu1gd .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-okh75tu1gd .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

#dslc-module-023ff5bedb4 .dslc-text-module-content,#dslc-module-023ff5bedb5 .dslc-text-module-content ,
#dslc-module-023ff5bedb6 .dslc-text-module-content {
    margin-top: 24px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}
#dslc-module-product .dslc-text-module-content{
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-023ff5bedb4 .dslc-text-module-content,
#dslc-module-023ff5bedb4 .dslc-text-module-content .dslca-editable-content,
#dslc-module-023ff5bedb4 .dslc-text-module-content p,#dslc-module-product .dslc-text-module-content p ,
#dslc-module-023ff5bedb5 .dslc-text-module-content,
#dslc-module-023ff5bedb5 .dslc-text-module-content .dslca-editable-content,
#dslc-module-023ff5bedb5 .dslc-text-module-content p,#dslc-module-product .dslc-text-module-content p,
#dslc-module-023ff5bedb6 .dslc-text-module-content,
#dslc-module-023ff5bedb6 .dslc-text-module-content .dslca-editable-content,
#dslc-module-023ff5bedb6 .dslc-text-module-content p,#dslc-module-product .dslc-text-module-content p  {
    font-size: 15px;
  line-height: 30px;
      margin-top: 10px;
    text-align: left
}
#dslc-module-023ff5bedb4 .dslc-text-module-content p strong,#dslc-module-023ff5bedb5 .dslc-text-module-content p strong,
#dslc-module-023ff5bedb6 .dslc-text-module-content p strong{
    font-weight: 500;
}
.dslc-text-module-content h2{
    font-size: 25px;
}
#dslc-module-023ff5bedb4 .dslc-text-module-content h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    
    text-align: left
}

#dslc-module-023ff5bedb4 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-023ff5bedb4 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-023ff5bedb4 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-023ff5bedb4 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-023ff5bedb4 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-023ff5bedb4 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-023ff5bedb4 .dslc-text-module-content blockquote,
#dslc-module-023ff5bedb4 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-023ff5bedb4 blockquote,
#dslc-module-023ff5bedb4 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-023ff5bedb4 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-023ff5bedb4 input[type=submit],
#dslc-module-023ff5bedb4 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-023ff5bedb4 input[type=submit]:hover,
#dslc-module-023ff5bedb4 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-023ff5bedb4 .dslc-text-module-content,
    #dslc-module-023ff5bedb4 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-023ff5bedb4 .dslc-text-module-content p {
        font-size: 17px;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h2 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 17px;
        text-align: center
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content ul,
    #dslc-module-023ff5bedb4 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content blockquote,
    #dslc-module-023ff5bedb4 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-023ff5bedb4 blockquote {
        text-align: left
    }
}
#dslc-module-0242e01d909 .dslc-text-module-content h2 strong{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 18px;
}
#dslc-module-0242e01d909 .dslc-text-module-content p strong{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
#dslc-module-0242e01d909 .dslc-text-module-content h1{
    text-align: left;
    color: #5890e5!important;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 2em;
}
#dslc-module-0242e01d909 .dslc-text-module-content h2{
    text-align: left;
    color: #5890e5!important;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
} 
#dslc-module-0242e01d909 .dslc-text-module-content ul{
    font-size: 15px;
    line-height: 30px;

}

.facilities p{
   
    font-size: 15px;
}
#dslc-module-0242e01d909 .dslc-text-module-content .facilities ul{
list-style: disc!important;
line-height: 30px;
font-size: 15px;
margin-left: 20px;
float: none;
}
  
#dslc-module-0242e01d909 .dslc-text-module-content {
    margin-top: 24px;
    padding-left:1%;
    padding-right:1%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}
@media only screen and (min-width:767px) {
.srm-modules-section .dslc-text-module-content p strong {
    font-weight: 500;
    font-size: 15px;
}

}
@media only screen and (max-width:767px) {
    #dslc-module-0242e01d909 .dslc-text-module-content p strong{
       font-weight: 500;
        font-size: 15px;
    }
    
#dslc-module-0242e01d909 .dslc-text-module-content {
    margin-top: 24px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}


#dslc-module-0242e01d909 .dslc-text-module-content,
#dslc-module-0242e01d909 .dslc-text-module-content .dslca-editable-content,
#dslc-module-0242e01d909 .dslc-text-module-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 4%;
    padding-right: 4%;
}
#dslc-module-0242e01d909 .dslc-text-module-content h1,
#dslc-module-0242e01d909 .dslc-text-module-content h1 strong{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;

}

#dslc-module-0242e01d909 .dslc-text-module-content h2,
#dslc-module-0242e01d909 .dslc-text-module-content h2 strong{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;

}
    #dslc-module-023ff5bedb4 .dslc-text-module-content p strong, #dslc-module-023ff5bedb5 .dslc-text-module-content p strong,
    #dslc-module-023ff5bedb6 .dslc-text-module-content p strong{
        font-weight: 500;
        font-size: 15px;;
    }
    #dslc-module-8fde551d6b1 .dslc-image {
        margin-top: -60px;
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content,
    #dslc-module-023ff5bedb5 .dslc-text-module-content,#dslc-module-023ff5bedb6 .dslc-text-module-content,
    #dslc-module-023ff5bedb4 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-023ff5bedb4 .dslc-text-module-content p,#dslc-module-023ff5bedb5 .dslc-text-module-content p,
    #dslc-module-023ff5bedb6 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 30px;
        text-align: left
    }

    #dslc-module-023ff5bedb4 .dslc-text-module-content h2 {
        font-size: 22px;
        line-height: 30px;    
        margin-bottom: 18px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content li #dslc-module-023ff5bedb5 .dslc-text-module-content li ,
    #dslc-module-023ff5bedb6 .dslc-text-module-content li{
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 25px;
    }

    #dslc-module-023ff5bedb4 .dslc-text-module-content ul,
    #dslc-module-023ff5bedb4 .dslc-text-module-content ol ,
    #dslc-module-023ff5bedb5 .dslc-text-module-content ul,
    #dslc-module-023ff5bedb5 .dslc-text-module-content ol,
    #dslc-module-023ff5bedb6 .dslc-text-module-content ul,
    #dslc-module-023ff5bedb6 .dslc-text-module-content ol{
        margin-bottom: 25px;
        /* margin-left: 25px */
    }
    #dslc-module-023ff5bedb4 .dslc-text-module-content blockquote,
    #dslc-module-023ff5bedb4 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-023ff5bedb4 blockquote {
        text-align: left
    }
}

#dslc-module-8fde551d6b1 .dslc-image-container {
    text-align: center
}


#dslc-module-8fde551d6b1 .dslc-image,
#dslc-module-8fde551d6b1 .dslc-image a,
#dslc-module-8fde551d6b1 .dslc-image img {
    width: auto
}

#dslc-module-8fde551d6b1 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-8fde551d6b1 .dslc-image-container {
        text-align: center
    }
    #dslc-module-8fde551d6b1 .dslc-image {
        padding-top: 130px;
        padding-bottom: 130px
    }
    #dslc-module-8fde551d6b1 .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-8fde551d6b1 .dslc-image-container {
        text-align: center
    }
    #dslc-module-8fde551d6b1 .dslc-image-caption {
        font-size: 13px;
        line-height: 22px;
        margin-top: 20px
    }
}
#dslc-module-Icons .dslc-info-box-image-inner .dslc-icon, #dslc-module-Icons .dslc-info-box-image-inner svg {
    color: #218ac9;
    fill: #218ac9;
    font-size: 32px!important;
    width: 40px!important;
    height: 40px!important;
}
#dslc-module-Icons .dslc-info-box-image-inner {
    width: 70px;
    height: 70px;
    text-align: center;
    border: 1px solid#eaeaea!important;
    border-radius: 100px;
    border-color: #ffffff!important;
}

#dslc-module-Icons .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    margin-top: 20px;
}


#dslc-module-Icons .dslc-info-box-image {
    text-align: inherit;
    margin-top: -6px;
    margin-bottom: 25px
}

#dslc-module-Icons .dslc-info-box-image,
#dslc-module-Icons .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 25px
}

#dslc-module-Icons .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-Icons .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-Icons .dslc-info-box-title {
    text-align: inherit;
    margin-bottom: 20px
}

#dslc-module-Icons .dslc-info-box-title h4 {
    font-size: 24px;

    line-height: 27px
}

#dslc-module-Icons .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-Icons .dslc-info-box-content,
#dslc-module-Icons .dslc-info-box-content p {
    font-size: 16px;
    line-height: 22px
}

#dslc-module-Icons .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-Icons .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-Icons .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-Icons .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-Icons .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-Icons .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}


#dslc-module-Icons .dslc-info-box-wrapper .dslc-info-box-main p{
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
    word-spacing: 1px;
    color: black;
    font-weight: 400;
}



#dslc-module-ce8b51cf989 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-ce8b51cf989 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (max-width:767px) {
    #dslc-module-ce8b51cf989 .dslc-separator {
        margin-bottom: 1px;
        padding-bottom: 1px
    }
}

#dslc-module-11 .dslc-separator {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-11 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-11 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-11 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}
#dslc-module-15319 .dslc-separator {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-15319 .dslc-separator-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-15319 .dslc-separator {
        margin-bottom: 15px;
        padding-bottom: 15px
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-15319 .dslc-separator {
        margin-bottom: 1px;
        padding-bottom: 1px
    }
}

#dslc-module-15320 .dslc-text-module-content {
    margin-bottom: 60px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-15320 .dslc-text-module-content,
#dslc-module-15320 .dslc-text-module-content .dslca-editable-content,
#dslc-module-15320 .dslc-text-module-content p {
    font-size: 20px;
    
    line-height: 30px;
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h1 {
    
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h2 {
    font-size: 31px;

    
    line-height: 40px;
    margin-bottom: 30px;
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-15320 .dslc-text-module-content ul {
    list-style-type: disc
}

#dslc-module-15320 .dslc-text-module-content ol {
    list-style-type: decimal
}


#dslc-module-15320 .dslc-text-module-content blockquote,
#dslc-module-15320 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-15320 blockquote,
#dslc-module-15320 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-15320 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-15320 input[type=submit],
#dslc-module-15320 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-15320 input[type=submit]:hover,
#dslc-module-15320 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-15320 .dslc-text-module-content {
        margin-bottom: 30px
    }
    #dslc-module-15320 .dslc-text-module-content,
    #dslc-module-15320 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-15320 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 24px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h2 {
        font-size: 21px;
        line-height: 29px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-15320 .dslc-text-module-content ul,
    #dslc-module-15320 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-15320 .dslc-text-module-content blockquote,
    #dslc-module-15320 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-15320 blockquote {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    #dslc-module-15320 .dslc-text-module-content,
    #dslc-module-15320 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-15320 .dslc-text-module-content p {
        font-size: 17px;
        line-height: 27px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h1 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h2 {
        font-size: 34px;
        line-height: 39px;
        margin-bottom: 20px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-15320 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-15320 .dslc-text-module-content ul,
    #dslc-module-15320 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-15320 .dslc-text-module-content blockquote,
    #dslc-module-15320 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-15320 blockquote {
        text-align: left
    }
}
.two-col-list ul li {
    float: left;
    width: 50%
}

.three-col-list ul li {
    float: left;
    width: 33.33%
}

.four-col-list ul li {
    float: left;
    width: 25%
}

.five-col-list ul li {
    float: left;
    width: 20%
}

.six-col-list ul li {
    float: left;
    width: 16.66%
}

body .pika-label {
    background: 0 0
}
@keyframes nf-scaleout {
    0% {
        transform: scale(0)
    }
    to {
        transform: scale(1);
        opacity: 0
    }
}

.field-wrap {
    display: -ms-flexbox;
    display: flex
}

.field-wrap>label {
    display: block
}

.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select,
.field-wrap textarea {
    width: 100%
}

.field-wrap>div input[type=checkbox],
.field-wrap button,
.field-wrap input[type=button],
.field-wrap input[type=submit] {
    width: auto
}

.nf-field-label {
    -ms-flex-order: 5;
    order: 5
}

.nf-field-description {
    width: 100%;
    -ms-flex-order: 10;
    order: 10
}

.nf-field-element {
    -ms-flex-order: 15;
    order: 15
}

.label-above .nf-field-label {
    margin-bottom: 10px
}

.label-below .nf-field-label {
    margin-top: 10px;
    -ms-flex-order: 15;
    order: 15
}

.label-below .nf-field-element {
    -ms-flex-order: 5;
    order: 5
}

.label-hidden .field-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.label-hidden .nf-field-label {
    height: 0;
    margin: 0!important;
    width: 100%;
    visibility: hidden
}

.label-hidden .nf-field-description {
    width: 100%;
    -ms-flex-order: 20;
    order: 20
}

.label-hidden .nf-field-element {
    width: 100%
}

.label-left .field-wrap {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.label-left .nf-field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 2%;
    text-align: right;
    width: 35%;
    -ms-flex-order: 5;
    order: 5
}

.label-left .nf-field-label label {
    width: 100%
}

.label-left .nf-field-description {
    margin-left: 35%
}

.label-left .nf-field-element {
    display: inline-block;
    width: 65%;
    -ms-flex-order: 10;
    order: 10
}

.label-left .nf-after-field {
    margin-left: 36.5%
}

.label-right .field-wrap,
.label-right .nf-field-label {
    -ms-flex-direction: row;
    flex-direction: row
}

.label-right .nf-field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2%;
    width: 35%;
    -ms-flex-order: 10;
    order: 10
}

.label-right .nf-field-description {
    margin-right: 35%;
    -ms-flex-order: 15;
    order: 15
}

.label-right .nf-field-element {
    display: inline-block;
    width: 65%;
    -ms-flex-order: 5;
    order: 5
}

.label-right .checkbox-wrap .nf-field-label {
    width: auto
}

.label-right .checkbox-wrap .nf-field-element {
    width: 20px
}

.label-right .nf-after-field {
    width: 65%
}

.label-above .field-wrap,
.label-below .field-wrap {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: wrap;
    flex-flow: wrap
}

.label-above .nf-field-element,
.label-below .nf-field-element {
    margin: 0;
    width: 100%
}

.label-left .listcheckbox-wrap .nf-field-label,
.label-left .listradio-wrap .nf-field-label,
.label-left .textarea-wrap .nf-field-label,
.label-right .listcheckbox-wrap .nf-field-label,
.label-right .listradio-wrap .nf-field-label,
.label-right .textarea-wrap .nf-field-label {
    -ms-flex-align: start;
    align-items: flex-start
}

.label-left .textarea-wrap .nf-field-label,
.label-right .textarea-wrap .nf-field-label {
    margin-top: 5px
}

.label-left .hr-wrap,
.label-left .html-wrap,
.label-right .hr-wrap,
.label-right .html-wrap {
    display: block
}

.label-left .hr-wrap .nf-field-element,
.label-left .html-wrap .nf-field-element,
.label-right .hr-wrap .nf-field-element,
.label-right .html-wrap .nf-field-element {
    display: block;
    margin: 0;
    width: 100%
}

